.board {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 640px;
  margin: 40px auto;
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.row {
  display: flex;
  flex: 1;
}

.tile {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.blue {
  background-color: #1E3A8A;
}

.gold {
  background-color: #AB9417;
}

.selected {
  border: 2px solid black;
  box-sizing: border-box;
}

.piece-image {
  width: 40px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}

.tile-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.tile-overlay.selected {
  background-color: rgba(0, 255, 255, 0.3);
}
.chess-icon{
  display: flex;

}
.tile-wrapper {
  width: 60%;  
  display: flex;
  justify-content: center;
 
}

.tile-content {
   width: 60%;  
  display: flex;
  justify-content: center;
  cursor: pointer;
}

