.board {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  margin: 40px auto;
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  flex: 1;
}

.tile {
  flex: 1;
  aspect-ratio: 1;
}

.blue {
  background-color: #1E3A8A;
}
.gold {
  background-color: #AB9417;
}

.board {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  border: 2px solid black;
}

.chess-icon {
  
  height: 60px;
  width: 60px;
  object-fit: contain;
  pointer-events: none;
  display: flex;
}



.row {
  display: flex;
  flex: 1;
}

.tile>div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: #1E3A8A;
}

.gold {
  background-color: #AB9417;
}
.selected {
  border: 2px solid red;
  box-sizing: border-box;
}
.pawn {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.tile > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Bishop{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.piece-image {
  width: 40px;
  height: 80 px;
  object-fit: contain;
  cursor: pointer;
}
.selected {
  width: 40px;
  box-sizing: border-box;
}
